@model Eir.Web.Models.WordPressModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="eir-search-area container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6"></div>
        <div class="col-md-3"></div>
    </div>
    
    <div class="col-md-3"></div>
    <form asp-controller="HomeController" asp-action="DoStuff" class="col-xs-12 col-md-6 eir-search-field">
        <label for="searchField">WordPress Plugin Search</label>
        <input asp-for="WordPressPlugin" data-val="true" class="form-control" 
               id="searchField" placeholder="WordPress Plugin name" />
        @Html.DisplayFor(model => model.WordPressPlugin)
    </form>
    <div class="col-md-3"></div>
    
</div>
<div style="font-size: 100px;">
    Some statictics will be going here etc
</div>